/*  @import "react-widgets/scss/styles.scss";

 @use "react-widgets/scss/styles.scss" with (
   $input-height: 2.5em,
    Most component variables are forwarded with a namespace
   $list-selected-bg: #49c6de,
 ); */

.App {
  /* text-align: center; */
  /* min-width: 1000px; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.fav {
  width: 100px;
  height: 80px;
  margin-top: 10px;
  margin-left: 30px;
}

.logo {
  float: left;
  min-width: 10%;
  max-width: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
  /* background-color: yellow; */
}

.Navbar {
  background-color: black;
  width: 100%;
  height: 100px;
  
}

.buttons {
  /* background-color: green; */
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 360px;
  margin-right: 35px;
  height: 100px;
}

/* CSS */
.button-27 {
  /* position: absolute; */
  /* margin-top: 50px; */
  /* margin: 50px 50px 50px 50px; */
  appearance: none;
  background-color: #00000000;
  border: 2px solid #00000000;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 25px 10px 30px 10px;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
}

.button-27:disabled {
  pointer-events: none;
}

.button-27:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button-27:active {
  box-shadow: none;
  transform: translateY(0);
}

h1 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(0, 0, 0);
  font-size: medium;
}

p {
  /* font-family: 'Courier New', Courier, monospace; */
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: medium;
  color: rgb(0, 0, 0);
}

.content {
  margin-top: 50px;
  margin-left: 80px;
  width: 100%;
  height: 100%;
}

.column_intro_left {
  /* background-color: blue; */
  float: left;
  width: 45%;
  margin-right: 10px;
  animation: moveToRight 0.4s ease-in-out;
}

.column_intro_right {
  float: left;
  /* background-color: red; */
  width: 42%;
  margin-right: 20px;
  animation: moveToLeft 0.4s ease-in-out;
}

.headshot {
  border-radius: 10px;
  box-shadow: 0 0 1rem 0 rgba(96, 96, 96, 0.945);
  /* margin-right: 1000px; */
  min-width: 10px;
  min-height: 20px;
  max-width: 70%;
  height: auto\20;
  width: auto\20; 
}

@keyframes moveToRight {
  0% {
      transform: translateX(-510px);
  }
  100% {
      transform: translateX(0px);
  }
}

@keyframes moveToLeft {
  0% {
      transform: translateX(810px);
  }
  100% {
      transform: translateX(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .purdue {
    animation: moveToRight 0.4s ease-in-out, spin infinite 15s linear;
    animation-delay: 0s, 0.4s;
    width: 100px;
    height: 100px;
    /* float: right; */
    position: absolute;
    right: 25vw;
    top: 125px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.About {
  min-width: 20%;
  max-width: 65%;
  /* background-color: red; */
  animation: moveToRight 0.4s ease-in-out;
}

.work_description {
  float: left;
  width: 37%;
  animation: moveUp 0.4s ease-in-out
  /* background-color: green; */
}

@keyframes moveUp {
  0% {
      transform: translateY(810px);
  }
  100% {
      transform: translateY(0px);
  }
}

.work_history {
  float: left;
  width: 40%;
  margin-top: 60px;
  margin-left: 30px;
  animation: moveDown 0.4s ease-in-out
  /* background-color: red; */
}

@keyframes moveDown {
  0% {
      transform: translateY(-500px);
  }
  100% {
      transform: translateY(0px);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-image: url("./assets/triangle_pattern.jpg"); */
  background-size: 2500px 1000px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.select {
  padding: 10px;
}

ul.dashed {
  list-style-type: none;
}
ul.dashed > li {
  text-indent: -5px;
}
ul.dashed > li:before {
  content: "- ";
  text-indent: -5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}